<!--Documentation about ng-message: https://docs.angularjs.org/api/ngMessages-->
<div class="error" ng-message="required">
  <!--<i class="ion-information-circled"></i>-->
  Derrigorrezkoa da
</div>
<div class="error" ng-message="minlength">
  <!--<i class="ion-information-circled"></i>-->
  Gutxienez 10 karaktereko luzeera izan behar du.
</div>
<div class="error" ng-message="maxlength">
  <!--<i class="ion-information-circled"></i>-->
  Luzeera maximoa gainditu du.
</div>
<div class="error" ng-message="email">
  <!--<i class="ion-information-circled"></i>-->
  Posta elektronikoaren formatua ez da zuzena. Adibidez: tokikom@tokikom.com
</div>
