<h2>Events</h2>
  <div class="row">
    <div class="col-sm-4 event">
      <div class="thumbnail">
        <div class="overlay"></div>
        <img class="img-responsive" alt="alternative text" src="http://placehold.it/800x400">
      </div>
      <span class="label label-info date">Jun 12</span> 
      <span class="label label-primary">Boys 5$</span>
      <span class="label label-danger">Girls FREE</span>
      <p>
        <strong>Business &amp; Entrepreneurs Workshop</strong><br>
        <em>at Grand Hotel Italia</em><br>
        <span class="small">10:00 AM - 21:00 PM</span>
      </p>
    </div>
    <div class="col-sm-4 event">
      <div class="thumbnail">
        <div class="overlay"></div>
        <img class="img-responsive" alt="alternative text" src="http://placehold.it/800x400">
      </div>
      <span class="label label-info date">Jun 12</span> 
      <span class="label label-primary">Boys 5$</span>
      <span class="label label-danger">Girls FREE</span>
      <p>
        <strong>Business &amp; Entrepreneurs Workshop</strong><br>
        <em>at Grand Hotel Italia</em><br>
        <span class="small">10:00 AM - 21:00 PM</span>
      </p>
    </div>
    <div class="col-sm-4 event">
      <div class="thumbnail">
        <div class="overlay"></div>
        <img class="img-responsive" alt="alternative text" src="http://placehold.it/800x400">
      </div>
      <span class="label label-info date">Jun 12</span> 
      <span class="label label-primary">Boys 5$</span>
      <span class="label label-danger">Girls FREE</span>
      <p>
        <strong>Business &amp; Entrepreneurs Workshop</strong><br>
        <em>at Grand Hotel Italia</em><br>
        <span class="small">10:00 AM - 21:00 PM</span>
      </p>
    </div>
  </div>