<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Preguntas y respuestas acerca de la aplicación
        </h1>
        <ol class="breadcrumb">
            <li><a ng-href="#/">Home</a>
            </li>
            <li class="active">FAQ</li>
        </ol>
    </div>
    <div class="col-lg-12">
        <h3>Preguntas y respuestas acerca de la aplicación
        </h3>
    </div>
</div>
<div class="row">
      <div class="col-md-12">
       
          <!--close-others=true to only open in this moment one item-->
          <uib-accordion close-others="true" >

            <div uib-accordion-group class="panel-default" is-open="item.open" is-disabled="status.isFirstDisabled" ng-repeat="item in items track by $index">
              <uib-accordion-heading>
                {{item.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.open, 'glyphicon-chevron-right': !item.open}"></i>
              </uib-accordion-heading>

              <div class="md-col-12 main-container">
                <p ng-bind-html="item.description"></p>
              </div>
            </div>

          </uib-accordion>
         
      </div>
</div>