

<div class="row">
<br/><br/>
<h1>{{value.race_name}} </h1>
    <div class="col-sm-4 event">
      	<details>
		  <summary>General data {{name}} {{value.race_start_time}}</summary>
		    <ul>
		      <li><strong>13.3-inch LED-backlit glossy widescreen display</strong> with edge-to-edge, uninterrupted glass (1280 x 800-pixel resolution).</li>
		      <li><strong>2.4 GHz Intel Core i5 dual-core processor</strong> with 3 MB shared L3 cache for excellent multitasking.</li>
		      <li><strong>Intel HD Graphics 3000</strong> with 384 MB of DDR3 SDRAM shared with main memory.</li>
		      <li><strong>500 GB Serial ATA hard drive</strong> (5400 RPM)</li>
		      <li><strong>4 GB installed RAM</strong> (1333 MHz DDR3; supports up to 8 GB)</li>
		    </ul>
		</details>
    </div>
    <div class="col-sm-4 event">
      <details>
		  <summary>MacBook Pro Specification</summary>
		    <ul>
		      <li><strong>13.3-inch LED-backlit glossy widescreen display</strong> with edge-to-edge, uninterrupted glass (1280 x 800-pixel resolution).</li>
		      <li><strong>2.4 GHz Intel Core i5 dual-core processor</strong> with 3 MB shared L3 cache for excellent multitasking.</li>
		      <li><strong>Intel HD Graphics 3000</strong> with 384 MB of DDR3 SDRAM shared with main memory.</li>
		      <li><strong>500 GB Serial ATA hard drive</strong> (5400 RPM)</li>
		      <li><strong>4 GB installed RAM</strong> (1333 MHz DDR3; supports up to 8 GB)</li>
		    </ul>
		</details>
    </div>
    <div class="col-sm-4 event">
      <details>
		  <summary>MacBook Pro Specification</summary>
		    <ul>
		      <li><strong>13.3-inch LED-backlit glossy widescreen display</strong> with edge-to-edge, uninterrupted glass (1280 x 800-pixel resolution).</li>
		      <li><strong>2.4 GHz Intel Core i5 dual-core processor</strong> with 3 MB shared L3 cache for excellent multitasking.</li>
		      <li><strong>Intel HD Graphics 3000</strong> with 384 MB of DDR3 SDRAM shared with main memory.</li>
		      <li><strong>500 GB Serial ATA hard drive</strong> (5400 RPM)</li>
		      <li><strong>4 GB installed RAM</strong> (1333 MHz DDR3; supports up to 8 GB)</li>
		    </ul>
		</details>
  	</div>
</div>
<div class="row" ng-if="value.race_route_source == 'wikiloc'">
	<iframe frameBorder="0" scrolling="no" ng-src="{{value.race_track_id | showWikilocRoute}}" width="45%" height="400"></iframe>
</div>
<div class="row" ng-if="value.race_route_source == 'ibilbideak'">
	<iframe height="400" style="height:400px;width:45%;margin:0;" frameBorder="0" ng-src="{{ value.race_track_id | showMugibiliRoute}}"></iframe>
</div>
<div class="row">
	<leaflet lf-center="london" event-broadcast="events" markers="markers" id="map-simple-map" width="100%" height="480px"></leaflet>
</div>

<div class="row">

 	<!--http://plnkr.co/edit/yBb0rNiXIaO4EGTqCAmm?p=preview Check image if exist-->
	<div class="cover-card col-sm-2" ng-if="!photo.is404" style="background: url({{photo.amazon_url}}) no-repeat center top;background-size:cover;" ng-repeat="photo in photos" error-src ng-src="photo.amazon_url">
		<p>
			{{photo.photo_title}}
		</p>
	</div>
</div>